.app-component {
  padding: 12px;
  h4 {
    margin-bottom: 8px;
  }
  .table-container {
    background: #ffffff;
    border-radius: 4px;
    padding: 12px;
    box-shadow: 0px 0px 4px 0px rgba($color: #000000, $alpha: 0.33);
    overflow: scroll;

    table {
      border-spacing: 0px;
      border-radius: 4px;
      width: 100%;

      th {
        padding: 8px;
        border: 1px solid #dddddd;
        background: #eeeeee;
        text-align: left;
        vertical-align: top;
        text-transform: uppercase;
        font-size: 12px;
      }
      td {
        padding: 8px;
        border: 1px solid #dddddd;
        text-align: left;
        vertical-align: middle;

        input {
          margin: 4px 0px;
          border-radius: 4px;
          padding: 4px;
          width: 80px;
          border-color: transparent;
          background: #eeeeee;
        }

        .full-width {
          display: block;
        }

        .half-width {
          display: inline-block;
          input:first-of-type {
            margin-right: 16px;
          }
        }

        button {
          font-size: 24px;
          display: block;
          margin: 0px 4px 4px 0px;
          height: 36px;
        }

        span {
          display: inline-block;
          width: 140px;
        }

        .invalid-message {
          span {
            color: red;
          }
        }
      }
    }
  }
  .login-popup {
    padding-top: 120px;
    text-align: center;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background: #ffffff;

    img {
      margin-bottom: 20px;
    }

    input {
      width: 500px;
      padding: 12px;
      border-radius: 32px;
      border: 1px solid #bbbbbb;
    }
  }
}
