<div class="app-component">
  <div *ngIf="loggedIn">
    <div class="table-container">
      <table>
        <tr>
          <th></th>
          <th colspan="2" style="text-align: center">Tile Details</th>
          <th colspan="3" style="text-align: center">Requirements</th>
          <th colspan="2" style="text-align: center">Calculation</th>
        </tr>
        <tr>
          <th style="width: 30px"></th>
          <th style="width: 80px">Name</th>
          <th>Specifications</th>
          <th>Items</th>
          <th style="width: 70px">Boxes</th>
          <th style="width: 80px">Containers</th>
          <th style="width: 140px">Boxes</th>
          <th style="width: 80px">Containers</th>
        </tr>
        <tr *ngFor="let row of inputRows; let i = index">
          <td>
            <button style="color: red" (click)="onDeleteClick(i)">
              &times;
            </button>
            <button style="color: blue" (click)="onCopyClick(i)">
              &#x2398;
            </button>
          </td>
          <td>Tile No. {{ i + 1 }}</td>
          <td>
            <div class="half-width">
              <span>Boxes/Pallet (1)</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.givenBoxPerPallet1"
                (ngModelChange)="dataChanged(i, 'givenBoxPerPallet1')"
              />
            </div>

            <div class="half-width">
              <span>Pallets/Container (1)</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.givenPalletPerContainer1"
                (ngModelChange)="dataChanged(i, 'givenPalletPerContainer1')"
              />
            </div>
            <br />

            <div class="half-width">
              <span>Boxes/Pallet (2)</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.givenBoxPerPallet2"
                (ngModelChange)="dataChanged(i, 'givenBoxPerPallet2')"
              />
            </div>

            <div class="half-width">
              <span>Pallets/Container (2)</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.givenPalletPerContainer2"
                (ngModelChange)="dataChanged(i, 'givenPalletPerContainer2')"
              />
            </div>

            <div class="full-width">
              <span>Boxes/Container</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.givenBoxPerContainer"
                (ngModelChange)="dataChanged(i, 'givenBoxPerContainer')"
              />
            </div>

            <div class="full-width">
              <span>Sqmt/Box</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.givenSqmtPerBox"
                (ngModelChange)="dataChanged(i, 'givenSqmtPerBox')"
              />
            </div>

            <div class="full-width">
              <span>Pieces/Box</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.givenPiecesPerBox"
                (ngModelChange)="dataChanged(i, 'givenPiecesPerBox')"
              />
            </div>
          </td>
          <td>
            <div class="full-width">
              <span>Pallets (1)</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.reqPallet1"
                (ngModelChange)="dataChanged(i, 'reqPallet1')"
              />
            </div>

            <div class="full-width">
              <span>Pallets (2)</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.reqPallet2"
                (ngModelChange)="dataChanged(i, 'reqPallet2')"
              />
            </div>

            <div class="full-width">
              <span>Boxes</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.reqBoxes"
                (ngModelChange)="dataChanged(i, 'reqBoxes')"
              />
            </div>

            <div class="full-width">
              <span>Sqmt</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.reqSqmt"
                (ngModelChange)="dataChanged(i, 'reqSqmt')"
              />
            </div>

            <div class="full-width">
              <span>Pieces</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.reqPieces"
                (ngModelChange)="dataChanged(i, 'reqPieces')"
              />
            </div>

            <div class="full-width">
              <span>Containers</span>
              <input
                type="number"
                min="0"
                [(ngModel)]="row.reqContainers"
                (ngModelChange)="dataChanged(i, 'reqContainers')"
              />
            </div>
          </td>
          <td>
            {{ row.calcBoxes || "" }}
          </td>
          <td>
            {{ row.calcContainers || "" }}
          </td>
          <td>
            <div *ngIf="row.givenBoxPerPallet1">
              {{ row.givenBoxPerPallet1 }} &times;
              <input
                type="number"
                min="0"
                [(ngModel)]="row.pallet1"
                (ngModelChange)="dataChanged(i, 'pallet1')"
                style="width: 60px"
              />
            </div>
            <div *ngIf="row.givenBoxPerPallet2">
              {{ row.givenBoxPerPallet2 }} &times;
              <input
                type="number"
                min="0"
                [(ngModel)]="row.pallet2"
                (ngModelChange)="dataChanged(i, 'pallet2')"
                style="width: 60px"
              />
            </div>
            <hr *ngIf="row.givenBoxPerPallet1 || row.givenBoxPerPallet2" />
            <div
              [ngStyle]="{ color: row.boxes < row.calcBoxes ? 'red' : null }"
            >
              {{ row.boxes || "" }}
            </div>
          </td>
          <td>
            <div>{{ row.containers || "" }}</div>
          </td>
        </tr>
        <tr>
          <td>
            <button style="color: green" (click)="onAddClick()">+</button>
          </td>
          <td colspan="3"></td>
          <td></td>
          <td></td>
          <td>
            <b *ngIf="columnTotals.boxes">{{ columnTotals.boxes }}</b>
          </td>
          <td>
            <b *ngIf="columnTotals.containers">{{ columnTotals.containers }}</b>
          </td>
        </tr>
      </table>
    </div>

    <br />
    <br />
    <div *ngFor="let container of containersBreakup; let i = index">
      <div class="table-container" style="display: inline-block">
        <table>
          <tr>
            <th colspan="4" style="text-align: center">
              CONTAINER {{ i + 1 }}
            </th>
          </tr>
          <tr>
            <th style="width: 160px">Tile Name</th>
            <th style="width: 160px">Containers</th>
            <th style="width: 160px">Boxes</th>
            <th style="width: 160px">Pallets</th>
          </tr>
          <tr *ngFor="let group of container.breakup">
            <td>{{ group.tileName }}</td>
            <td>{{ group.containers }}</td>
            <td>
              <input
                type="number"
                min="0"
                [(ngModel)]="group.boxes"
                (ngModelChange)="containerTableDataChanged(group)"
              />
            </td>
            <td>
              <div
                class="invalid-message"
                innerHtml="{{
                  getPalletsCombination(group.rowIndex, group.boxes) ||
                    '<span>Invalid</span>'
                }}"
              ></div>
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <div
                class="invalid-message"
                innerHtml="{{ getBreakupTotal(container) }}"
              ></div>
            </td>
            <td></td>
            <td></td>
          </tr>
        </table>
      </div>
      <br />
      <br />
    </div>
  </div>

  <div class="login-popup" *ngIf="!loggedIn">
    <div>
      <img
        src="https://www.google.co.in/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png"
        height="92px"
      />
      <div>
        <input
          type="password"
          [(ngModel)]="password"
          (keyup.enter)="onLoginClick()"
        />
      </div>
    </div>
  </div>
</div>
